
<div>
	<a style='border:1px solid #999; background-color:#999; color:white; padding:2px 5px; border-radius:5px; text-decoration: none;' href="/memos/new" >新規作成</a>
</div>
<ul>
	<% @memos.each do |id, post|	%>
		<li>
			<a href="/memos/<%= id %>"><%= post['title'] %></a>
		</li>
	<% end %>
</ul>

