<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>詳細</title>
</head>
<body>
<div style="text-align: center">
	<head>メモアプリ</head>

	<div>
	<h1>memo1</h1>

	<p>メモの内容。メモの内容。<br>
	memo,memo,memo
	</p>
	</div>

	<button>変更</button>
	<button>削除</button>
</div>
</body>
</html>