
<h2>新規memo</h2>
<div>
<form action="/memos" method="post">
	<p>タイトル：<br>
		<input type="text" name="title" placeholder="学習メモ">
	</p>
	<p>メモ内容：<br>
		<textarea cols="30" rows="10" placeholder="内容を記述"></textarea>
	</p>
	<p>
		<input type="submit" value="保存" id="submit_button">
	</p>
	</form>
</div>
