
<h3 class="title-font">新しいメモを作成</h3>
<div>
<form action="/memos" method="post">
  <h4 class="text-font">タイトル<br>
    <input class="text-box text-font" type="text" name="title" placeholder="タイトルを記述">
  </h4>
  <h4 class="text-font">メモ内容<br>
    <textarea class="text-box text-font" cols="30" rows="10" name="content" id="content" placeholder="内容を記述"></textarea>
  </h4>
  <div>
  <input class="button submit" type="submit" value="保存" id="submit_button">
  </div>
</form>
  <a class="text-font link-text" href="/memos">≪メモ一覧に戻る</a>
</div>
